.btn-group.commands
  %button.btn.btn-default.btn-schema(click=@schema title='Examine database schema')
    %i.icon-table
  %button.btn.btn-default.btn-run(click=@runQuery title='Run this query')
    %i.icon-play